body{
    margin : 0;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    overflow-y: hidden;
}
.back{
    height : 80vh;
    width : 70vw;
    margin : 5rem auto;
    background: url('background_index.jpg');
    background-size:cover ;
    position : relative;
    box-shadow: 1px 2px 60px;
    overflow-x: hidden;
    overflow-y: hidden;
    
    
    
}
.bot{
    height : 196px;
    width : 500%;
    background: url('Img_02.png');
    display : block;
    position : absolute;
    bottom : 0;
    background-repeat: repeat-x;
    animation: moveright 6s linear infinite;
   
}
.car{ 
    width : 100%;
    display : block;
    position: absolute;
    bottom: 17%;
    left : 0%;
    background-repeat: repeat-x;
    animation: cars 30s linear infinite;
    
    
}
.cars2{
    width : 20%;
    display : block;
    position: absolute;
    bottom: 17%;
    left : 20%;
    background-repeat: repeat-x;
    animation: cars 80s linear infinite;
}
.moon{
    width : 10%;
    height: 20px;
    position: absolute;
    top: 0px;
    background-repeat: repeat-x;
    animation: sun 80s linear infinite;
}
@keyframes moveright {
    100%{transform: translateX(-2950px)}
}
@keyframes cars {
  
    100%{transform: translateX(2000px)}
    
}
@keyframes sun {
    100%{transform: translateY(+2000px)}
}
